body {
    font-family: 'Raleway', sans-serif;
  margin-top: 105px; }

.navbar {
  box-shadow: 1px 1px 3px red;
  opacity: 0.94;
/*  background: #000; */
    background-image: url(../img/navbg.png);
}
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; 
}

#container1 {
overflow:hidden;
position:relative;
z-index: 1;
}

#pixie {
z-index:0;
background-color: #000000;
}
    
#over_stuff{
color:white;
position:absolute;
top:0px;
left:0px;
z-index:5;
padding:10px;
width: 100%;
margin-top: 12%;
margin-left:2%;
margin-right:2%;
margin-bottom: 10px;
}

/*
#main-row {
    margin-left: 300px;
}
*/

#newsletter {
    background-color: black;
    border-top: solid 5px red;
}

#created-by {
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}

.email-header, .phone-header {
    font-family: 'Raleway', sans-serif;
    background-image:url(../img/navbg.png); 
}

#created-card-aniket
{
    
    background:transparent url(../img/aniket.jpg) no-repeat center center /cover;
    color: black;
    border: 4px solid white;
}

#created-card-shubham
{
    background:transparent url('../img/hukare.jpg') no-repeat center center /cover;
    color: black;
    border: 4px solid white;
}

#created-card-kanishk
{
    background:transparent url('../img/kanishk.jpg') no-repeat center center /cover;
    color: black;
    border: 4px solid white;
}

#created-card-aniket:hover, #created-card-kanishk:hover, #created-card-shubham:hover {
/*    border:3px solid red;*/
}

.sign-up-button:hover {
    background: black;
    color: red;
}


.head {
    cursor: pointer;
}

.delay-1 {
animation-delay: 1.6s;
}
.delay-2 {
animation-delay: 3.2s;
}

.delay-0 {
    animation-delay: 0.5s;
}

#title,#tagline {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0.4em 0;
}
#title { font-size: 3.5em; }
#tagline {
  color: #fff;
  font-size: 2em;
}


/*Button*/
.button {
  background: #2B2D2F;
  height: 80px;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
}

.text {
  font: bold 1.25rem/1 poppins;
  color: #71DFBE;
  position: absolute;
  top: 50%;
  transform: translateY(-52%);
  left: 0;
  right: 0;
}

.progress-bar {
  position: absolute;
  height: 20px;
  width: 0;
  right: 0;
  top: 50%;
  left: 50%;
  border-radius: 200px;
  transform: translateY(-50%) translateX(-50%);
  background: lighten(#2B2D2F, 15%);
}

svg {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
}

.check {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.complete-button {
    margin-top: 350px;
    display: inline-block;    
}

#